body {
  background-color: #ccc;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  min-height: 8vh;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
}

.links-container {
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.links {
  width: fit-content;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 2rem;

  a {
    text-decoration: none;
    color: #000;
    font-size: 16px;

    &:hover {
      border-bottom: 2px solid #000;
    }
  }

  li {
    padding: 0 1rem;
  }
}

.logo {
  padding-right: 3rem;
  margin-left: 5%;
}

.buttons-container {
  text-align: right;
}

button {
  border: 1px solid #000;
  width: 100px;
  padding: 10px 0;
  outline: none;
  background-color: #fff;
  margin-right: 0.5rem;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;

  &:hover {
    background-color: #888;
    color: #000;
  }
}

.solid {
  color: #fff;
  background-color: #000;
}

.icon {
  margin: 2px;
}

.dropdown {
  position: relative;
}

.drop-menu {
  position: absolute;
  background-color: #fff;
  width: 600px;
  padding: 1%;
  display: none;
  justify-content: center;
  border: 1px solid #000;
  top: 30px;
  right: -75%;
  padding-top: 20px;

  .content-container {
    display: flex;
    margin-bottom: 1rem;
    margin-right: 1rem;

    i {
      font-size: 14px;
      margin-top: 3px;
    }

    .content {
      margin-left: 5%;

      .content-title {
        margin: 0;
        font-size: 13px;
        margin-bottom: 1%;
      }

      p {
        font-size: 11px;
        margin: 0;
        line-height: 16px;
      }
    }
  }
}

.hover {
  display: flex;
}
